<a href="https://colab.research.google.com/github/Monta243/Python1/blob/main/Masar_Camp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science and Machine Learning Track Camp

##First Week

good job Keep it up

Abdullah

###First activity

In [ ]:
print('Hello, Masar')

Hello, Masar

###First Homework

In [ ]:
# تعريف الإسم كمتغير
name= 'Mountader ALSinan'

#تعريف العمر كمتغير
Age= 22

print(f'Hi Everyone My name {name} and I am {Age} years old, I will be a best Data Scientist in the early future')

Hi Everyone My name Mountader ALSinan and I am 22 years old, I will be a best Data Scientist in the early future

###Second Homework

In [ ]:
# تعيين القيم
employee_years1= 20
employee_evaluation1= "Excellent"


def calculate_bonus(years, evaluation):
    if employee_years1 <= 10:
        if employee_evaluation1 == "Excellent":
            bonus_percentage = 0.10
        elif employee_evaluation1 == "Poor":
            bonus_percentage = 0.05
        else:
            bonus_percentage = 0
    else:
        if employee_evaluation1 == "Excellent":
            bonus_percentage = 0.20
        elif employee_evaluation1 == "Poor":
            bonus_percentage = 0.15
        else:
            bonus_percentage = 0

    return bonus_percentage


# حساب المكافأة
bonus = calculate_bonus(employee_years1, employee_evaluation1)



# طباعة نتيجة الحساب
print(f"معدل المكافأة: %{bonus * 100}")

معدل المكافأة: %20.0

In [ ]:
import numpy as np

def calculate_bonus(years, evaluation):
    if years <= 10:
        bonus = np.select([evaluation == "Excellent", evaluation == "Poor"], [0.10, 0.05], default=0)
    else:
        bonus = np.select([evaluation == "Excellent", evaluation == "Poor"], [0.20, 0.15], default=0)

    return bonus

# تعيين القيم
employee_years = 2
employee_evaluation = "poor"

# حساب المكافأة
bonus = calculate_bonus(employee_years, employee_evaluation)

# طباعة نتيجة الحساب
print(f"معدل المكافأة: %{bonus * 100}")

معدل المكافأة: %0.0

###First Quiz

In [ ]:
Number_Matrix = [
    12,47,55,22,7,43,89,24,48,34,82,41,175,514,44,
    77,55,24,11,13,15,33,54,223,551,1,59,71,53,15,
    2222,1475,5,447,26,19,147524,135742,12345,2584
]

x = Number_Matrix[9]

y = Number_Matrix[4]

z = x+y

print(z)

41

###Third Homework

In [ ]:
Stars = ['**','***','****','*****','****','***','**','*']
for star in Stars:
  print(star)

**
***
****
*****
****
***
**
*

In [ ]:
def is_prime(num):
    """Check if a number is prime."""
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

# Find the first 3 prime numbers greater than 10 but less than 99
count = 0
number = 49  # Start checking from 49

while count < 3:
    if is_prime(number):
        print(number)
        count += 1
    number += 1

53
59
61

### Pandas Install

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
# Import the pandas package

import pandas as pd

# Create a simple DataFrame
data = {
    'Name': ['Mountader','Mohammed','Ali'],
    'Age': [22, 67,75],
    'City': ['Qatif','Dammam','Khobar']
}

df = pd.DataFrame(data)

# display the DataFrame
print("DataFrame Contents:")
print(df)

DataFrame Contents:
        Name  Age    City
0  Mountader   22   Qatif
1   Mohammed   67  Dammam
2        Ali   75  Khobar

###Second Activity

In [ ]:
#استخدام بايثون في المشين ليرنينج

import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()

# Create a DataFrame using the data and feature_names
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

# Add the target column to the DataFrame
iris_df['target'] = iris.target

# Display the DataFrame
print(iris_df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 5 columns]

### Import "Google Stock Price (2004 - 2023)" Data from "Kaggle" website

In [ ]:
import pandas as pd

# Specify the path to your CSV file
csv_file_path = '/content/google_stock_price.csv'

# Create a Pandas DataFrame from the CSV file
df = pd.read_csv(csv_file_path)

# Display the first few rows of the DataFrame
print("First few rows of the Breast Cancer dataset:")
display(df.head())

First few rows of the Breast Cancer dataset:

         Date      Open      High       Low     Close  Adj Close     Volume
0  2004-08-19  2.490664  2.591785  2.390042  2.499133   2.499133  897427216
1  2004-08-20  2.515820  2.716817  2.503118  2.697639   2.697639  458857488
2  2004-08-23  2.758411  2.826406  2.716070  2.724787   2.724787  366857939
3  2004-08-24  2.770615  2.779581  2.579581  2.611960   2.611960  306396159
4  2004-08-25  2.614201  2.689918  2.587302  2.640104   2.640104  184645512

### First Project

## Second Week

## Third Week

## Fourth Week