<a href="https://colab.research.google.com/github/Monta243/Python1/blob/main/Masar_Camp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science and Machine Learning Track Camp

##First Week

good job Keep it up

Abdullah

###First activity

In [ ]:
print('Hello, Masar')

Hello, Masar

###First Homework

In [ ]:
# تعريف الإسم كمتغير
name= 'Mountader ALSinan'

#تعريف العمر كمتغير
Age= 22

print(f'Hi Everyone My name {name} and I am {Age} years old, I will be a best Data Scientist in the early future')

Hi Everyone My name Mountader ALSinan and I am 22 years old, I will be a best Data Scientist in the early future

###Second Homework

In [ ]:
# تعيين القيم
employee_years1= 20
employee_evaluation1= "Excellent"


def calculate_bonus(years, evaluation):
    if employee_years1 <= 10:
        if employee_evaluation1 == "Excellent":
            bonus_percentage = 0.10
        elif employee_evaluation1 == "Poor":
            bonus_percentage = 0.05
        else:
            bonus_percentage = 0
    else:
        if employee_evaluation1 == "Excellent":
            bonus_percentage = 0.20
        elif employee_evaluation1 == "Poor":
            bonus_percentage = 0.15
        else:
            bonus_percentage = 0

    return bonus_percentage


# حساب المكافأة
bonus = calculate_bonus(employee_years1, employee_evaluation1)



# طباعة نتيجة الحساب
print(f"معدل المكافأة: %{bonus * 100}")

معدل المكافأة: %20.0

In [ ]:
import numpy as np

def calculate_bonus(years, evaluation):
    if years <= 10:
        bonus = np.select([evaluation == "Excellent", evaluation == "Poor"], [0.10, 0.05], default=0)
    else:
        bonus = np.select([evaluation == "Excellent", evaluation == "Poor"], [0.20, 0.15], default=0)

    return bonus

# تعيين القيم
employee_years = 2
employee_evaluation = "poor"

# حساب المكافأة
bonus = calculate_bonus(employee_years, employee_evaluation)

# طباعة نتيجة الحساب
print(f"معدل المكافأة: %{bonus * 100}")

معدل المكافأة: %0.0

###First Quiz

In [20]:
list = [12,47,55,22,7,43,89,24,48,34,82,41,175,514,44]

x = list[4]

y = list[9]

z = x+y

print(z)

41

###Second Activity

In [16]:
#استخدام بايثون في المشين ليرنينج

import pandas as pd
from sklearn.datasets import load_iris

# Load the Iris dataset
iris = load_iris()

# Create a DataFrame using the data and feature_names
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)

# Add the target column to the DataFrame
iris_df['target'] = iris.target

# Display the DataFrame
print(iris_df)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

     target
0         0
1         0
2         0
3         0
4         0
..      ...
145       2
146       2
147       2
148       2
149       2

[150 rows x 5 columns]